# Optional: If you wish to use CARTO basemaps instead of default watermark-free OpenStreetMap / Esri tiles,
# request a free key at: https://carto.com/basemaps/apikey (takes 10 seconds, no credit card required)
# VITE_CARTO_API_KEY=your_free_carto_api_key_here
